[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
drf-yasg = "*"
django-filter = "*"
psycopg2 = "*"
gunicorn = "*"
dj-database-url = "*"

[dev-packages]

[requires]
python_version = "3.8"
